<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Login</h2>

    <input name="username" placeholder="Usuário">
    <input name="password" type="password" placeholder="Senha">
    <video id="video" autoplay></video>

    <button class="secondary-btn" onclick="startCamera()">Abrir câmera</button>
    <button onclick="login()">Entrar</button>

    <p><a href="/register">Criar conta</a></p>
</div>

<script src="/static/script.js"></script>

</body>
</html>