<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Registro</h2>

    <input name="username" placeholder="Usuário">
    <input name="password" type="password" placeholder="Senha">

    <button onclick="registerUser()">Criar conta</button>

    <video id="video" autoplay></video>

    <button class="secondary" onclick="startCamera()">Abrir câmera</button>
    <button onclick="registerFace()">Registrar rosto</button>

    <p><a href="/">Voltar</a></p>
</div>

<script src="/static/script.js"></script>
</body>
</html>